extends ../layout/index.pug
block cuerpoContenido
    h1(class="text-center")=pagina
    div(class="row justify-content-center")
        each h in hotel
            div(class="col")
                div(class="card")
                    img(src="/img/imagen_gerente.jpg",
                        class="card-img-top")
                    div(class="card-body align-self-center")
                        h6=`Nombre:${h.nombre}`
                        h6=`Direccion:${h.direccion}`
                        h6=`Telefono:${h.telefono}`
                        h6=`Correo:${h.correo}`
                        h6=`Correo:${h.gerente.nombre}`
                        